.app-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #70e2d9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.app-title {
  color: #30b9d5;
  text-align: center;
  margin-bottom: 20px;
}
